dt {
    font-style: italic;
}

article {
    width: 80%;
    margin: auto;
    background-color: lightgrey;
    padding: 5%;
}

blockquote {
    padding: 0%;
    margin: 0%;
    font-style: italic;
}

.syn {
    color: blueviolet;
}